<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

  <uses-permission android:name="android.permission.FLASHLIGHT"/>
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.RECORD_AUDIO"/>
  <uses-permission android:name="android.permission.CAMERA"/>

  <!--needed by background Rtp service to keep service alive-->
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
  <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
  <!--Optional for play store-->
  <uses-feature android:name="android.hardware.camera" android:required="false" />
  <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
  <!--  Android 14 background compatibility-->
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE"/>
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CAMERA"/>
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION"/>

  <application
      android:name=".App"
      android:requestLegacyExternalStorage="true"
      android:usesCleartextTraffic="true"
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:supportsRtl="true"
      android:theme="@style/AppTheme"
      >
    <activity
        android:name="com.pedro.streamer.MainActivity"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

    <activity
        android:name="com.pedro.streamer.defaultexample.OldApiActivity"
        android:label="@string/old_api"
        />

    <activity
        android:name="com.pedro.streamer.filestreamexample.FromFileActivity"
        android:label="@string/from_file"
        android:screenOrientation="portrait"
        />

    <activity
        android:name="com.pedro.streamer.displayexample.DisplayActivity"
        android:label="@string/display"
        android:screenOrientation="portrait" />

    <activity android:name="com.pedro.streamer.rotation.RotationExampleActivity"
        android:label="@string/rotation_rtmp"
        android:screenOrientation="fullSensor"
        android:configChanges="orientation|screenSize"
        />

    <service android:name="com.pedro.streamer.displayexample.DisplayService"
        android:foregroundServiceType="mediaProjection"
        />
  </application>

</manifest>