<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

  <uses-permission android:name="android.permission.FLASHLIGHT"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <!--some devices need read permission to create folders or files-->
  <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.RECORD_AUDIO"/>
  <uses-permission android:name="android.permission.CAMERA"/>

  <!--needed by background Rtp service to keep service alive-->
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
  <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
  <!--Optional for play store-->
  <uses-feature android:name="android.hardware.camera" android:required="false" />
  <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
  <!--  Android 14 background compatibility-->
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE"/>
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CAMERA"/>
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION"/>

  <application
      android:name=".App"
      android:requestLegacyExternalStorage="true"
      android:usesCleartextTraffic="true"
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:supportsRtl="true"
      android:theme="@style/AppTheme"
      >
    <activity
        android:name="com.pedro.streamer.MainActivity"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity
        android:name="com.pedro.streamer.customexample.RtmpActivity"
        android:label="@string/rtmp_streamer"
        android:screenOrientation="portrait"
        />
    <activity
        android:name="com.pedro.streamer.customexample.RtspActivity"
        android:label="@string/rtsp_streamer"
        android:screenOrientation="portrait"
        />
    <activity
        android:name="com.pedro.streamer.defaultexample.ExampleRtspActivity"
        android:label="@string/default_rtsp"
        />
    <activity
        android:name="com.pedro.streamer.defaultexample.ExampleRtmpActivity"
        android:label="@string/default_rtmp"
        />
    <activity
        android:name="com.pedro.streamer.defaultexample.ExampleSrtActivity"
        android:label="@string/default_srt"
        />
    <activity
        android:name="com.pedro.streamer.filestreamexample.RtspFromFileActivity"
        android:label="@string/from_file_rtsp"
        android:screenOrientation="portrait"
        />
    <activity
        android:name="com.pedro.streamer.filestreamexample.RtmpFromFileActivity"
        android:label="@string/from_file_rtmp"
        android:screenOrientation="portrait"
        />
    <activity
        android:name="com.pedro.streamer.openglexample.OpenGlRtmpActivity"
        android:label="@string/opengl_rtmp"
        />
    <activity
        android:name="com.pedro.streamer.openglexample.OpenGlRtspActivity"
        android:label="@string/opengl_rtsp"
        />
    <activity
        android:name="com.pedro.streamer.openglexample.OpenGlSrtActivity"
        android:label="@string/opengl_srt"
        />
    <activity
        android:name="com.pedro.streamer.openglexample.OpenGlGenericActivity"
        android:label="@string/opengl_generic"
        />
    <activity
        android:name="com.pedro.streamer.displayexample.DisplayActivity"
        android:label="@string/display_rtmp"
        android:screenOrientation="portrait" />
    <activity
        android:name="com.pedro.streamer.backgroundexample.BackgroundActivity"
        android:label="@string/service_rtp"
        android:screenOrientation="portrait" />

    <activity android:name="com.pedro.streamer.rotation.RotationExampleActivity"
        android:label="@string/rotation_rtmp"
        android:screenOrientation="fullSensor"
        />

    <service android:name="com.pedro.streamer.rotation.StreamService"
        android:foregroundServiceType="mediaProjection|camera|microphone"
        />

    <service android:name="com.pedro.streamer.backgroundexample.RtpService"
        android:foregroundServiceType="camera|microphone"
        />

    <service android:name="com.pedro.streamer.displayexample.DisplayService"
        android:foregroundServiceType="mediaProjection"
        />
  </application>

</manifest>