<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pedro.rtpstreamer"
    >

  <uses-permission android:name="android.permission.FLASHLIGHT"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <!--some devices need read permission to create folders or files-->
  <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.RECORD_AUDIO"/>
  <uses-permission android:name="android.permission.CAMERA"/>

  <!--needed by background Rtp service to keep service alive-->
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

  <!--Optional for play store-->
  <uses-feature android:name="android.hardware.camera" android:required="false" />
  <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />

  <application
      android:requestLegacyExternalStorage="true"
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:supportsRtl="true"
      android:theme="@style/AppTheme"
      >
    <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        >
      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity
        android:name=".customexample.RtmpActivity"
        android:label="@string/rtmp_streamer"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".customexample.RtspActivity"
        android:label="@string/rtsp_streamer"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".defaultexample.ExampleRtspActivity"
        android:label="@string/default_rtsp"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".defaultexample.ExampleRtmpActivity"
        android:label="@string/default_rtmp"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".filestreamexample.RtspFromFileActivity"
        android:label="@string/from_file_rtsp"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".filestreamexample.RtmpFromFileActivity"
        android:label="@string/from_file_rtmp"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".surfacemodeexample.SurfaceModeRtspActivity"
        android:label="@string/surface_mode_rtsp"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".surfacemodeexample.SurfaceModeRtmpActivity"
        android:label="@string/surface_mode_rtmp"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".texturemodeexample.TextureModeRtspActivity"
        android:label="@string/texture_mode_rtsp"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".texturemodeexample.TextureModeRtmpActivity"
        android:label="@string/texture_mode_rtmp"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".openglexample.OpenGlRtmpActivity"
        android:label="@string/opengl_rtmp"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".openglexample.OpenGlRtspActivity"
        android:label="@string/opengl_rtsp"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".displayexample.DisplayActivity"
        android:label="@string/display_rtmp"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".backgroundexample.BackgroundActivity"
        android:label="@string/service_rtp"
        />

    <service android:name=".backgroundexample.RtpService"
        />

    <service android:name=".displayexample.DisplayService"
        android:foregroundServiceType="mediaProjection"
        />
  </application>

</manifest>